.center {
    text-align: center;
    vertical-align: middle;
}

#aboutUs {
    background: #f6f6f7;
}

#aboutUs .row{
    margin-bottom: 0;
}

#aboutUs img {
    /*
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 500px;
     Need a specific value to work 
*/
}

#aboutUs h1 {
    font-weight: 200;
}

.h1EqualHigh {
    margin: 2.8rem 0 1.68rem 0!important;
}

.team{
    width: 100%;
}

.team-inner{
    overflow: hidden;
}

.team-caption{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.center{
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 600px){
    .h1Equalhigh{
        text-align: center!important;
    }    
}

/*
#aboutHeader{
     margin-top: 2.4rem!important;
}*/
