#clients h1{
    font-weight: 200;
}

/*
.owl-carousel .item{
    margin: 10px;
}

.owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}
*/

.greenLogo{
    background-color: #85c12e!important;
}